# устанавливаем кодировку
AddDefaultCharset utf-8

# разрешаем перенаправление
RewriteEngine On

# записываем базовую директорию нашего сайта (OSPanel->domains->test)
RewriteBase /

# Для того, чтобы файл style.css и изображения (images/img...) работали
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# указываем, что все запросы нужно перенаправлять на файл index.php
RewriteRule ^(.*)$ index.php